.user-detail-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.form-full-width {
  width: 100%;
}

.example-card {
  max-width: 1330px;
  width: 100%;
  margin: 20px;
}

td {
  padding-right: 8px;
}
