<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile colspan="3" rowspan="3">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>User Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="user-detail-form">
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="First Name">
                    </mat-form-field>

                    <mat-form-field class="form-full-width">
                        <input matInput placeholder="Last Name">
                      </mat-form-field>
                    
                    <mat-form-field class="form-full-width">
                      <input matInput placeholder="Email">
                    </mat-form-field>

                    <mat-form-field class="form-full-width">
                        <input matInput placeholder="Address">
                    </mat-form-field>

                  </form>
            </mat-card-content>
          </mat-card>
      </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="3">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title>Order Details</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table mat-table [dataSource]="selectedMenu" class="mat-elevation-z8">                
                  <!-- Id Column -->
                  <ng-container matColumnDef="itemName">
                    <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
                  </ng-container>
                
                  <!-- Item Name Column -->
                  <ng-container matColumnDef="itemCount">
                    <td mat-cell *matCellDef="let element"> {{element.itemCount}} </td>
                  </ng-container>
                   <!-- Item Name Column -->
                   <ng-container matColumnDef="cross">
                      <td mat-cell *matCellDef="let element"> * </td>
                    </ng-container>
                  <!-- Price Column -->
                  <ng-container matColumnDef="price">
                    <td mat-cell *matCellDef="let element"> {{element.price}} </td>
                  </ng-container>

                  <ng-container matColumnDef="total">
                      <td mat-cell *matCellDef="let element"> {{element.price * element.itemCount }} </td>
                    </ng-container>
                
                  <tr mat-row *matRowDef="let item; columns: displayedColumns;"></tr>
                </table>
                <mat-toolbar>
                    <span>Total = {{getTotalCost()}}</span>
                  </mat-toolbar>
            </mat-card-content>
            <mat-card-actions>
                <button mat-raised-button color="primary" (click)="placeOrder()">Place Order</button>
            </mat-card-actions>
          </mat-card>
    </mat-grid-tile>
  </mat-grid-list>